<div class="container">
  <h2 class="text-center">Drop us your question now!</h2>
  <form #questionForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Your name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        required
        [(ngModel)]="question.senderName"
        name="senderName"
      />
    </div>

    <div class="form-group">
      <label for="email">Your email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
        [(ngModel)]="question.senderEmail"
        name="senderEmail"
      />
    </div>

    <div class="form-group">
      <label for="category">Question Category</label>
      <select
        class="form-control"
        id="category"
        required
        [(ngModel)]="question.category"
        name="category"
      >
        <option *ngFor="let category of categories" [value]="category">{{
          category
        }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="details">Question Details</label>
      <textarea
        class="form-control"
        id="details"
        rows="5"
        [(ngModel)]="question.details"
        name="wrongName"
      ></textarea>
    </div>

    Check form updates:
    <pre>{{ question | json }} <br /></pre>
    <pre>{{ questionForm.value | json }}</pre>
    
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
