<div class="container">
  <h2 class="text-center">Drop us your question now!</h2>
  <form #questionForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Your name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        required
        maxlength="30"
        [(ngModel)]="question.senderName"
        name="senderName"
      />
    </div>

    <div class="form-group">
      <label for="email">Your email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        required
        maxlength="30"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        placeholder="name@example.com"
        [(ngModel)]="question.senderEmail"
        name="senderEmail"
      />
    </div>

    <div class="form-group">
      <label for="category">Question Category</label>
      <select
        class="form-control"
        id="power"
        required
        [(ngModel)]="question.category"
        name="category"
      >
        <option *ngFor="let category of categories" [value]="category">{{
          category
        }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="details">Question Details</label>
      <textarea
        class="form-control"
        id="details"
        required
        minlength="10"
        maxlength="30"
        rows="5"
        [(ngModel)]="question.details"
        name="details"
      ></textarea>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="serverErrorMessage">
      {{ serverErrorMessage }}
    </div>
    <div class="row">
      <div class="col-1">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!questionForm.valid"
        >
          Submit
        </button>
      </div>
      <div class="col-1">
        <button type="reset" class="btn btn-light">Clear</button>
      </div>
    </div>
  </form>
</div>
